# ── Supabase ──
SUPABASE_URL=https://ksfrsnbfdzgtkxhswobs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzZnJzbmJmZHpndGt4aHN3b2JzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5Nzk3ODgsImV4cCI6MjA5MDU1NTc4OH0.igEzAcb8dF1G25IpzCrMNg8q_K6hdoj9mHPZMVeA7Bs
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzZnJzbmJmZHpndGt4aHN3b2JzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk3OTc4OCwiZXhwIjoyMDkwNTU1Nzg4fQ.RbeeDXAFXr4HBwg4rPvMrM_56-ZDZmqx1O2h1__zQkM
SUPABASE_JWT_SECRET=ZMHGiQLHx3WvNA39+HaavSanjJsrSUL0Eh7MYVihR8QR/tLWu6qpKsWzn3SenK62xgBzc25hmex0rFmz0db3Tg==

# ── Backend Auth (eski token'lar için) ──
SECRET_KEY=07df85d678ac97d1495677829340ffd5d3c8a9dd2f121eabec5cb3fd3f30c54d

# ── Database ──
DATABASE_URL=postgresql://postgres:Sweetzozo847..@db.ksfrsnbfdzgtkxhswobs.supabase.co:5432/postgres

# ── Email (şifre sıfırlama) ──
GMAIL_USER=enginet512@gmail.com
GMAIL_PASSWORD=engi3002net

# ── AI ──
GROQ_API_KEY=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

# ── CORS ──
ALLOWED_ORIGINS=http://localhost,https://enginet02.onrender.com